.pattern_col .button {
  margin-top: 1vh;
}

.add_pattern_with_button_container {
  display: flex;
  flex-direction: row;
}

.add_pattern_with_button_container .button {
  height: auto;
  margin-left: 1vw;
  width: 4vw;
  white-space: normal;
  margin: 0;
  margin-left: 1vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
}
