.add_pattern_container {
  flex-grow: 3;
   display: flex;
   flex-direction: column;
}

.add_pattern_container input {
   font-family: Roboto Mono;
}

.add_pattern_container textarea {
  height: 8vh;
}
