.addPattern {
  display: flex;
  flex-direction: column;
  flex-grow: 3;
}

.addPattern .button {
  height: auto;
  margin-left: 1vw;
  width: 4vw;
  white-space: normal;
  margin: 0;
  margin-left: 1vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
 }

.addPattern input {
   font-family: Roboto Mono;
}

.addPattern textarea {
  height: 8vh;
}
