.patternColumn {
  padding: 0 2% 0 1%;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  justify-content: space-between;
  max-height: 100%;
}

.textColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  max-height: 100%;
}

.feedbackColumn {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  padding: 0 1% 0 2%;
  max-height: 100%;
}
