.select_pattern ul, .quick_reference ul {
  font-family: Roboto;
  overflow:hidden;
  overflow-y:scroll
}

.patternColumn {
  padding: 0 2% 0 1%;
  display: flex;
  flex-flow: column wrap;
  flex-grow: 2;
  justify-content: space-between;
}

.patternColumn p {
  margin-bottom: 1vh;
}

.patternList {
  /* border-radius */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* box-shadow */
  -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 3px;
  background: #fff;
}

.patternList ul {
  padding: 0;
  margin: 0;
  height: 25vh;
  overflow-y: auto;
  max-height: 25vh; /* necessary? */
}

.patternList li {
  list-style: none;
  padding: 3px;
}

.patternList li:hover {
  background: #77dd77;
}
